<footer class="bg-dark text-white mt-5 border rounded-top">
    <div class="container-fluid">
        <div class="row py-4 p-4">
            <div class="col-md-4">
                <h5>About Us</h5>
                <div class="d-flex flex-row mb-3 text-start">
                    <div class="col-md-2">
                        <div class="p-2">
                            <a href="https://www.facebook.com/reyvaldi.zakaria.18" target="_blank"><i class="bi bi-facebook" style="font-size: 32px; color: #fff;"></i></a>
                        </div>
                        <div class="p-2">
                            <a href="https://www.instagram.com/_rey.re" target="_blank"><i class="bi bi-instagram" style="font-size: 32px; color: #fff;"></i></a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="p-2">
                            <a href="https://wa.me/6285156251507" target="_blank"><i class="bi bi-whatsapp" style="font-size: 32px; color: #fff;"></i></a>
                        </div>
                        <div class="p-2">
                            <a href="https://github.com/REY-STTP" target="_blank"><i class="bi bi-github" style="font-size: 32px; color: #fff;"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled mb-3">
                    <li><a href="/" class="text-white">Home</a></li>
                    <li><a href="about/" class="text-white">About</a></li>
                    <li><a href="contact/" class="text-white">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Contact Us</h5>
                <p>
                    Address: 1234 Street Name, City, State 56789<br>
                    Phone: (123) 456-7890<br>
                    Email: info@example.com
                </p>
            </div>
        </div>
        <div class="row bg-black bg-gradient pt-3">
            <div class="col-12 text-center">
                <p>2024 &copy; Copyright Rwar Contact App.</p>
            </div>
        </div>
    </div>
</footer>