<div class="container mt-3">
    <div class="d-flex justify-content-center align-items-center">
        <div class="mt-5 text-center">
            <img src="/img/me.png" alt="Reyvaldi Zakaria" class="rounded-circle shadow p-2 mb-3 bg-body-secondary perspective-img" width="200" onmousemove="moveImage(event, this)" onmouseout="resetImage(this)">
            <h1 class="display-4">REYVALDI ZAKARIA</h1>
            <p class="lead">Mahasiswa | Teknik Informatika</p>

            <div class="d-flex flex-row mt-3">
                <div class="col">
                    <div class="p-2">
                        <a href="https://www.facebook.com/reyvaldi.zakaria.18" target="_blank"><i class="bi bi-facebook" style="font-size: 32px; color: #808080;"></i></a>
                    </div>
                </div>
                <div class="col">
                    <div class="p-2">
                        <a href="https://www.instagram.com/_rey.re" target="_blank"><i class="bi bi-instagram" style="font-size: 32px; color: #808080;"></i></a>
                    </div>
                </div>
                <div class="col">
                    <div class="p-2">
                        <a href="https://wa.me/6285156251507" target="_blank"><i class="bi bi-whatsapp" style="font-size: 32px; color: #808080;"></i></a>
                    </div>
                </div>
                <div class="col">
                    <div class="p-2">
                        <a href="https://github.com/REY-STTP" target="_blank"><i class="bi bi-github" style="font-size: 32px; color: #808080;"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>